<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Database Configuration -->
	<import resource="./database/DataSource.xml"/>
	<import resource="./database/Hibernate.xml"/>
	
	<!-- Beans Declaration -->
	<import resource="../bean/User.xml"/>
	<import resource="../bean/Service.xml"/>
	<import resource="../bean/Department.xml"/>
	<import resource="../bean/V_Material.xml"/>
	<import resource="../bean/Patient.xml"/>
	<import resource="../bean/MedicineGroup.xml"/>
	<import resource="../bean/Medicine.xml"/>
	<import resource="../bean/Doctor.xml"/>
	<import resource="../bean/BasicMedicalRecord.xml"/>
	<import resource="../bean/MedicalRecord.xml"/>
</beans>